<div class="loginCreate-container">
  <div loaderId="ResetPasswordLoader" ngxUiLoaderBlurred>
    <h1>Reset Password</h1>
    <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmitResetPassword()">
      <div class="form-group form-row">
        <input type="password" placeholder="Password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submittedResetPasswordForm && form.password.errors }" />
        <div *ngIf="submittedResetPasswordForm && form.password.errors" class="invalid-feedback">
          <div *ngIf="form.password.errors.required">Password is required</div>
          <div *ngIf="form.password.errors.minlength">Password must be at least 6 characters</div>
        </div>
      </div>
      <div class="form-group form-row">
        <input type="password" placeholder="Confirm Password" formControlName="confirmPassword" class="form-control" [ngClass]="{ 'is-invalid': submittedResetPasswordForm && form.confirmPassword.errors }" />
        <div *ngIf="submittedResetPasswordForm && form.confirmPassword.errors" class="invalid-feedback">
          <div *ngIf="form.confirmPassword.errors.required">Confirm Password is required</div>
          <div *ngIf="form.confirmPassword.errors.mustMatch">Passwords must match</div>
        </div>
      </div>
      <input type="submit" name="resetPassword" class="login loginCreate-submit" value="Reset Password">
    </form>
    <ngx-ui-loader [loaderId]="'ResetPasswordLoader'" hasProgressBar="false"></ngx-ui-loader>
  </div>
</div>
